---
import Container from '@/components/Container.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import H2 from '@/components/typography/H2.astro'
import H1 from '@/components/typography/H1.astro'
import H4 from '@/components/typography/H4.astro'
import Prose from '@/components/typography/Prose.astro'
---
<BaseLayout>
    <Container>
<div class="text-center">
    <H1>Умови використання AquaPumpers</H1>
</div>
<div>
     <Prose>Ці Положення та умови ("Угода") укладаються між AquaPumpers ("Компанія") та користувачами ("Користувач" або "Ви") веб-сайту AquaPumpers, доступного за адресою [https://aquapumpers.com ] («Веб-сайт»). Отримуючи доступ до веб-сайту або використовуючи його, ви погоджуєтеся дотримуватися цієї Угоди. Якщо ви не згодні з усіма положеннями та умовами цієї Угоди, не відвідуйте веб-сайт і не використовуйте його.</Prose>

<H2>1. Обов'язки користувача:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>1.1 Ви погоджуєтеся використовувати веб-сайт відповідно до всіх чинних законів і правил.</li>
     <li>1.2 Ви несете відповідальність за збереження конфіденційності облікових даних свого облікового запису та за будь-які дії чи дії у вашому обліковому записі.</li>
</ul>


<H2>2. Заборонена діяльність:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>2.1 Ви не повинні використовувати веб-сайт для будь-яких незаконних або неавторизованих цілей.</li>
     <li>2.2 Ви не маєте права завантажувати, публікувати чи передавати будь-який вміст, який порушує відповідні закони чи права інтелектуальної власності інших осіб.</li>
     <li>2.3 Ви не повинні брати участь у будь-якій діяльності, яка виводить із ладу, перевантажує або погіршує роботу Веб-сайту.</li>
     <li>2.4 Ви не маєте права видавати себе за іншу особу, переслідувати чи завдавати шкоди будь-якому іншому Користувачеві або третій стороні через Веб-сайт.</li>
</ul>

<H2>3. Права інтелектуальної власності:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>3.1 Усі права інтелектуальної власності, включаючи торговельні марки, логотипи, авторські права та інші майнові права, пов’язані з Веб-сайтом, належать або ліцензуються Компанією.</li>
     <li>3.2 Вам надається обмежена, відклична, невиключна ліцензія без права передачі на доступ до Веб-сайту та його використання виключно в особистих і некомерційних цілях.</li>
</ul>

<H2>4. Відмова від відповідальності:</H2>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>4.1 Веб-сайт надається на основі «за наявності» та «за наявності».</li>
     <li>4.2 Компанія не гарантує точність, повноту чи надійність будь-якого вмісту чи інформації, наданої на Веб-сайті.</li>
     <li>4.3 Компанія не несе відповідальності за будь-які прямі, непрямі, випадкові, непрямі чи штрафні збитки, що виникають унаслідок використання вами Веб-сайту або пов’язані з ним.</li>
</ul>

<H2>5. Гарантії та гарантії:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>5.1 Компанія не надає жодних гарантій щодо доступності, надійності чи безпеки Веб-сайту.</li>
     <li>5.2 Компанія не гарантує, що Веб-сайт не працюватиме без помилок, вірусів або без перебоїв.</li>
     <li>5.3 Будь-які транзакції чи взаємодії між Користувачами та третіми сторонами через Веб-сайт здійснюються виключно на Ваш власний ризик.</li>
</ul>

<H2>6. Розірвання Угоди:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>6.1 Компанія може припинити дію цієї Угоди та припинити доступ до Веб-сайту в будь-який час із причиною чи без неї.</li>
     <li>6.2 Після припинення дії Ваше право на доступ і використання Веб-сайту буде негайно припинено.</li>
</ul>

<H2>7. Політика конфіденційності:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>7.1 Компанія збирає, зберігає та використовує вашу особисту інформацію відповідно до Політики конфіденційності.</li>
     <li>7.2 Використовуючи веб-сайт, ви погоджуєтеся на збір, зберігання та використання вашої особистої інформації, як описано в Політиці конфіденційності.</li>
</ul>

<H2>8. Зміни до положень та умов:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>8.1 Компанія залишає за собою право змінювати чи доповнювати цю Угоду в будь-який час.</li>
     <li>8.2 Про зміни в Угоді Користувачі будуть повідомлені шляхом публікації переглянутої Угоди на Веб-сайті або іншим розумним способом.</li>
     <li>8.3 Ви несете відповідальність періодично переглядати Угоду на предмет будь-яких змін.</li>
     <li>8.4 Продовження використання Вами Веб-сайту після внесення змін означатиме, що Ви приймаєте змінену Угоду.</li>
</ul>

<H2>9. Загальне:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>9.1 Ця Угода є повною угодою між Вами та Компанією щодо використання Веб-сайту.</li>
     <li>9.2 Якщо будь-яке положення цієї Угоди буде визнано недійсним або таким, що не підлягає виконанню, решта положень залишатимуться в повній силі.</li>
     <li>9.3 Ця Угода регулюється та тлумачиться відповідно до законодавства України.</li>
     <li>9.4 Будь-які суперечки, що виникають із цієї Угоди або пов’язані з нею, підлягають виключній юрисдикції судів України.</li>
</ul>





<H4>Користуючись Веб-сайтом, ви підтверджуєте, що прочитали, зрозуміли цю Угоду та погоджуєтеся дотримуватися її умов.</H4>

<H2>Останнє оновлення: 08.12.2023</H2>
<div class="mt-5 mb-10">
<H4>Якщо у вас виникли запитання чи сумніви щодо цієї Угоди, зв’яжіться з нами за адресою info@aquapumpers.com</H4>
</div>
</div>
</Container>
</BaseLayout>