---

---

<div class="scroll-m-20 text-4xl font-extrabold py-5 px-2 tracking-tight lg:text-5xl mt-5 hover:text-transparent bg-clip-text bg-gradient-to-r from-sky-500 via-cyan-400 to-emerald-400">
  <slot />
</div>
