---
import Container from '@/components/Container.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import H2 from '@/components/typography/H2.astro'
import H1 from '@/components/typography/H1.astro'
import H4 from '@/components/typography/H4.astro'
import Prose from '@/components/typography/Prose.astro'
---
<BaseLayout>
    <Container>
<div class="text-center">
    <H1>Правила и условия AquaPumpers</H1>
</div>
<div>
     <Prose>Настоящие Условия («Соглашение») заключаются между AquaPumpers («Компания») и пользователями («Пользователь» или «Вы») веб-сайта AquaPumpers, доступного по адресу [https://aquapumpers.com ] ("Веб-сайт"). Заходя на Веб-сайт или используя его, Вы соглашаетесь соблюдать настоящее Соглашение. Если Вы не согласны со всеми условиями настоящего Соглашения, не заходите на Веб-сайт и не используйте его.</Prose>

<H2>1. Обязанности пользователя:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>1.1 Вы соглашаетесь использовать Веб-сайт в соответствии со всеми применимыми законами и правилами.</li>
     <li>1.2 Вы несете ответственность за сохранение конфиденциальности учетных данных вашей учетной записи, а также за любые действия или действия в вашей учетной записи.</li>
</ul>


<H2>2. Запрещенные действия:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>2.1 Вы не имеете права использовать Веб-сайт в каких-либо незаконных или несанкционированных целях.</li>
     <li>2.2. Вы не имеете права загружать, публиковать или передавать какой-либо контент, который нарушает действующее законодательство или права интеллектуальной собственности других лиц.</li>
     <li>2.3 Вы не должны участвовать в какой-либо деятельности, которая отключает, перегружает или ухудшает функционирование Веб-сайта.</li>
     <li>2.4 Вы не имеете права выдавать себя за другого Пользователя или третье лицо, преследовать его или причинять ему вред через Веб-сайт.</li>
</ul>

<H2>3. Права интеллектуальной собственности:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>3.1 Все права интеллектуальной собственности, включая товарные знаки, логотипы, авторские права и другие права собственности, связанные с Веб-сайтом, принадлежат Компании или лицензируются ею.</li>
     <li>3.2 Вам предоставляется ограниченная, отзывная, неисключительная и не подлежащая передаче лицензия на доступ к Веб-сайту и его использование исключительно в личных и некоммерческих целях.</li>
</ul>

<H2>4. Отказ от ответственности:</H2>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>4.1 Веб-сайт предоставляется на условиях «asis» и «по мере доступности».</li>
     <li>4.2 Компания не гарантирует точность, полноту или надежность любого контента или информации, представленной на Веб-сайте.</li>
     <li>4.3 Компания не несет ответственности за любые прямые, косвенные, случайные, косвенные или штрафные убытки, возникшие в результате или в связи с использованием вами Веб-сайта.</li>
</ul>

<H2>5. Гарантии и гарантии:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>5.1 Компания не дает никаких гарантий относительно доступности, надежности или безопасности Веб-сайта.</li>
     <li>5.2 Компания не гарантирует, что Веб-сайт будет работать без ошибок, вирусов или бесперебойно.</li>
     <li>5.3 Любые транзакции или взаимодействия между Пользователями и третьими лицами через Веб-сайт осуществляются исключительно на Ваш страх и риск.</li>
</ul>

<H2>6. Прекращение действия соглашения:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>6.1 Компания может прекратить действие настоящего Соглашения и вашего доступа к Веб-сайту в любое время, по причине или без нее.</li>
     <li>6.2 После прекращения действия Ваше право на доступ и использование Веб-сайта немедленно прекращается.</li>
</ul>

<H2>7. Политика конфиденциальности:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>7.1 Компания собирает, хранит и использует Вашу личную информацию в соответствии с Политикой конфиденциальности.</li>
     <li>7.2 Используя Веб-сайт, вы соглашаетесь на сбор, хранение и использование вашей личной информации, как описано в Политике конфиденциальности.</li>
</ul>

<H2>8. Изменения в Условиях использования:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>8.1 Компания оставляет за собой право изменять или дополнять настоящее Соглашение в любое время.</li>
     <li>8.2. Пользователи будут уведомлены об изменениях в Соглашении путем публикации пересмотренной версии Соглашения на Веб-сайте или другими разумными способами.</li>
     <li>8.3 Вы обязаны периодически просматривать Соглашение на предмет любых изменений.</li>
     <li>8.4 Продолжение использования вами Веб-сайта после внесения изменений будет означать ваше согласие с измененным Соглашением.</li>
</ul>

<H2>9. Общее:</H2>
<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
     <li>9.1 Настоящее Соглашение представляет собой полное соглашение между Вами и Компанией относительно использования Веб-сайта.</li>
     <li>9.2 Если какое-либо положение настоящего Соглашения будет признано недействительным или не имеющим исковой силы, остальные положения останутся в полной силе.</li>
     <li>9.3 Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Украины.</li>
     <li>9.4 Любые споры, возникающие из настоящего Соглашения или связанные с ним, подлежат исключительной юрисдикции судов Украины.</li>
</ul>





<H4>Используя Веб-сайт, Вы подтверждаете, что прочитали, поняли настоящее Соглашение и соглашаетесь соблюдать его.</H4>

<H2>Последнее обновление: 08.12.2023</H2>
<div class="mt-5 mb-10">
<H4>Если у вас есть какие-либо вопросы или сомнения по поводу настоящего Соглашения, свяжитесь с нами по адресу info@aquapumpers.com</H4>
</div>
</div>
</Container>
</BaseLayout>