---
import SmallText from './typography/SmallText.astro'
import H2 from './typography/H2.astro'
---

<section class="py-10sm:py-16 lg:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <H2>Meet the brains</H2>
      <SmallText>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </SmallText>
    </div>

    <div
      class="mt-8 grid grid-cols-2 gap-x-0 gap-y-8 text-center sm:mt-16 sm:grid-cols-4 lg:mt-20 lg:grid-cols-9"
    >
      <div>
        <img
          class="mx-auto h-28 w-28 rounded-lg object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/team/3/team-avatar-1.jpg"
          alt=""
        />
        <p class="mt-8 text-lg font-semibold leading-tight text-black">
          Jenny Wilson
        </p>
        <p class="mt-1 text-base leading-tight text-gray-600">Founder</p>
      </div>

      <div class="hidden lg:block"></div>

      <div>
        <img
          class="mx-auto h-28 w-28 rounded-lg object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/team/3/team-avatar-2.jpg"
          alt=""
        />
        <p class="mt-8 text-lg font-semibold leading-tight text-black">
          Darrell Steward
        </p>
        <p class="mt-1 text-base leading-tight text-gray-600">CTO</p>
      </div>

      <div class="hidden lg:block"></div>

      <div>
        <img
          class="mx-auto h-28 w-28 rounded-lg object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/team/3/team-avatar-3.jpg"
          alt=""
        />
        <p class="mt-8 text-lg font-semibold leading-tight text-black">
          Bessie Cooper
        </p>
        <p class="mt-1 text-base leading-tight text-gray-600">CMO</p>
      </div>

      <div class="hidden lg:block"></div>

      <div>
        <img
          class="mx-auto h-28 w-28 rounded-lg object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/team/3/team-avatar-4.jpg"
          alt=""
        />
        <p class="mt-8 text-lg font-semibold leading-tight text-black">
          Arlene McCoy
        </p>
        <p class="mt-1 text-base leading-tight text-gray-600">
          Senior Developer
        </p>
      </div>

      <div class="hidden lg:block"></div>

      <div>
        <img
          class="mx-auto h-28 w-28 rounded-lg object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/team/3/team-avatar-5.jpg"
          alt=""
        />
        <p class="mt-8 text-lg font-semibold leading-tight text-black">
          Brooklyn Simmons
        </p>
        <p class="mt-1 text-base leading-tight text-gray-600">
          Product Designer
        </p>
      </div>

      <div class="hidden lg:block"></div>

      <div>
        <img
          class="mx-auto h-28 w-28 rounded-lg object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/team/3/team-avatar-6.jpg"
          alt=""
        />
        <p class="mt-8 text-lg font-semibold leading-tight text-black">
          Jerome Bell
        </p>
        <p class="mt-1 text-base leading-tight text-gray-600">
          Customer Success
        </p>
      </div>

      <div class="hidden lg:block"></div>

      <div>
        <img
          class="mx-auto h-28 w-28 rounded-lg object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/team/3/team-avatar-7.jpg"
          alt=""
        />
        <p class="mt-8 text-lg font-semibold leading-tight text-black">
          Dianne Russell
        </p>
        <p class="mt-1 text-base leading-tight text-gray-600">
          Front-end Developer
        </p>
      </div>

      <div class="hidden lg:block"></div>

      <div>
        <img
          class="mx-auto h-28 w-28 rounded-lg object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/team/3/team-avatar-8.jpg"
          alt=""
        />
        <p class="mt-8 text-lg font-semibold leading-tight text-black">
          Kristin Watson
        </p>
        <p class="mt-1 text-base leading-tight text-gray-600">H.R</p>
      </div>

      <div class="hidden lg:block"></div>

      <div>
        <img
          class="mx-auto h-28 w-28 rounded-lg object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/team/3/team-avatar-9.jpg"
          alt=""
        />
        <p class="mt-8 text-lg font-semibold leading-tight text-black">
          Eleanor Pena
        </p>
        <p class="mt-1 text-base leading-tight text-gray-600">UI Designer</p>
      </div>
    </div>
  </div>
</section>
