---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import SmallText from './typography/SmallText.astro'
import H2 from './typography/H2.astro'
import Large from './typography/Large.astro'
import { Image } from 'astro:assets'
import Roadmapsi from '@/assets/Roadmapsi.gif'
import Phones from '@/assets/Phones.gif'
import Done from '@/assets/Done.gif'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class="py-10 sm:py-16 lg:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <H2>{t('about-step-title')}</H2>
      <Large>
        {t('about-step-desc')}
      </Large>
    </div>

    <div class="relative mt-12 lg:mt-20">
      <div
        class="absolute inset-x-0 top-2 hidden md:block md:px-20 lg:px-28 xl:px-44"
      >
        <img
          class="w-full"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/steps/2/curved-dotted-line.svg"
          alt=""
        />
      </div>

      <div
        class="relative grid grid-cols-1 gap-x-12 gap-y-12 text-center md:grid-cols-3"
      >
        <div>
          <div
            class="mx-auto flex h-16 w-16 items-center justify-center rounded-full border-2 border-gray-200 bg-white shadow"
          >
            <span class="text-xl font-semibold text-gray-700">
              <div class="wrap">
                <div class="circle">
                  <Image class="w-full" src={Phones} alt="" />
                </div>
              </div>
            </span>
          </div>
          <Large>{t('about-step1')}</Large>
          <SmallText>
            {t('about-step1desc')}
          </SmallText>
        </div>

        <div>
          <div
            class="mx-auto flex h-16 w-16 items-center justify-center rounded-full border-2 border-gray-200 bg-white shadow"
          >
            <span class="text-xl font-semibold text-gray-700">
              <div class="wrap">
                <div class="circle">
                  <Image class="w-full" src={Roadmapsi} alt="" />
                </div>
              </div>
            </span>
          </div>
          <Large>{t('about-step2')}</Large>
          <SmallText>
            {t('about-step2desc')}
          </SmallText>
        </div>

        <div>
          <div
            class="mx-auto flex h-16 w-16 items-center justify-center rounded-full border-2 border-gray-200 bg-white shadow"
          >
            <span class="text-xl font-semibold text-gray-700">
              <div class="wrap">
                <div class="circle">
                  <Image class="w-full" src={Done} alt="" />
                </div>
              </div>
            </span>
          </div>
          <Large>{t('about-step3')}</Large>
          <SmallText>
            {t('about-step3desc')}
          </SmallText>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .circle {
    background: plum;
    width: 75px;
    height: 75px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 3s linear infinite;
  }

  .circle img {
    width: 100%;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }
</style>
