---
import SmallText from './typography/SmallText.astro'
import H2 from './typography/H2.astro'
---

<section class="py-10 sm:py-16 lg:py-20">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 gap-y-12 lg:grid-cols-3 lg:gap-x-8 xl:gap-x-20"
    >
      <div>
        <H2>London Office</H2>
        <SmallText>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </SmallText>

        <div class="mt-10 space-y-5">
          <div class="flex items-start">
            <svg
              class="h-7 w-7 flex-shrink-0 text-emerald-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
            <span class="ml-3 mt-1 block text-sm font-medium leading-none">
              8502 Preston Rd. Inglewood, Maine 98380, USA
            </span>
          </div>

          <div class="flex items-start">
            <svg
              class="h-7 w-7 flex-shrink-0 text-emerald-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
              ></path>
            </svg>
            <span class="ml-3 mt-1 block text-sm font-medium leading-none">
              sales@example.com
            </span>
          </div>
        </div>
      </div>

      <div>
        <H2>London Office</H2>
        <SmallText>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </SmallText>

        <div class="mt-10 space-y-5">
          <div class="flex items-start">
            <svg
              class="h-7 w-7 flex-shrink-0 text-emerald-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
            <span class="ml-3 mt-1 block text-sm font-medium leading-none">
              4517 Washington Ave. Manchester, Kentucky 39495
            </span>
          </div>

          <div class="flex items-start">
            <svg
              class="h-7 w-7 flex-shrink-0 text-emerald-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
              ></path>
            </svg>
            <span class="ml-3 mt-1 block text-sm font-medium leading-none">
              support@example.com
            </span>
          </div>
        </div>
      </div>

      <div>
        <H2>Singapoure Office</H2>
        <SmallText>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </SmallText>

        <div class="mt-10 space-y-5">
          <div class="flex items-start">
            <svg
              class="h-7 w-7 flex-shrink-0 text-emerald-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
            <span class="ml-3 mt-1 block text-sm font-medium leading-none">
              3517 W. Gray St. Utica, Pennsylvania 57867
            </span>
          </div>

          <div class="flex items-start">
            <svg
              class="h-7 w-7 flex-shrink-0 text-emerald-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
              ></path>
            </svg>
            <span class="ml-3 mt-1 block text-sm font-medium leading-none">
              contact@example.com
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
