---

---

<section class="bg-gray-100 py-10 sm:py-16 lg:py-24">
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 gap-y-10 md:grid-cols-2 md:gap-x-16 lg:gap-x-24"
    >
      <div>
        <img
          class="h-16 w-16 rounded-full object-cover"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/cta/9/female-avatar-1.png"
          alt=""
        />
        <blockquote>
          <p class="mt-6 text-xl leading-relaxed text-black">
            “Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.”
          </p>
        </blockquote>
        <p class="mt-6 text-base font-semibold text-black">Jenny Wilson</p>
        <p class="mt-1 text-base text-gray-600">Project Manager at Microsoft</p>
      </div>

      <div>
        <div class="overflow-hidden bg-white">
          <div class="p-8 lg:px-12 lg:py-10">
            <h3 class="text-2xl font-semibold text-black">
              Join 5,482 other developers
            </h3>
            <p class="mt-4 text-base text-gray-600">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis.
            </p>

            <a
              href="#"
              title=""
              class="mt-8 flex w-full items-center justify-center rounded-md border-2 border-transparent bg-blue-600 px-4 py-4 text-base font-semibold text-white transition-all duration-200 hover:bg-blue-700 focus:bg-blue-700"
              role="button"
            >
              Create your first website
            </a>

            <a
              href="#"
              title=""
              class="mt-4 flex w-full items-center justify-center rounded-md border-2 border-black bg-transparent px-4 py-4 text-base font-semibold text-black transition-all duration-200 hover:bg-black hover:text-white focus:bg-black focus:text-white"
              role="button"
            >
              Talk to sales
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
