---
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import SmallText from "./typography/SmallText.astro";
import H2 from "./typography/H2.astro";
import H1 from "./typography/H1.astro";
---

<section class="relative py-10 overflow-hidden bg-trancperent sm:py-16 lg:py-24">
    <div class="absolute bottom-0 right-0 -mb-48 md:inset-y-0">
        <img class="object-cover w-full h-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/pricing/8/lines.svg" alt="" />
    </div>

    <div class="relative max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="grid items-end grid-cols-1 gap-y-10 md:grid-cols-2 md:gap-x-20">
            <div>
                <H2>Join 35k+ web devs & build your next website fast</H2>
                <SmallText>Amet minim mollit non deserunt ullam co est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</SmallText>

                <ul class="mt-5 space-y-4 md:mt-20">
                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-7 h-7 bg-blue-100 rounded-full">
                            <svg class="w-3.5 h-3.5 text-emerald-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <small class="text-sm font-medium text-emerald-500 leading-none"> Domain </small>
                    </li>

                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-7 h-7 bg-blue-100 rounded-full">
                            <svg class="w-3.5 h-3.5 text-emerald-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <small class="text-sm font-medium text-emerald-500 leading-none"> 120+ Coded Blocks </small>
                    </li>

                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-7 h-7 bg-blue-100 rounded-full">
                            <svg class="w-3.5 h-3.5 text-emerald-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <small class="text-sm font-medium text-emerald-500 leading-none">Included Unlimited Exports </small>
                    </li>

                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-7 h-7 bg-blue-100 rounded-full">
                            <svg class="w-3.5 h-3.5 text-emerald-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <small class="text-sm font-medium text-emerald-500 leading-none"> Design Files Included </small>
                    </li>

                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-7 h-7 bg-blue-100 rounded-full">
                            <svg class="w-3.5 h-3.5 text-emerald-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <small class="text-sm font-medium text-emerald-500 leading-none"> Commercial License </small>
                    </li>
                </ul>
            </div>

            <div class="lg:px-12">
                <div class="overflow-hidden text-center bg-trancperent rounded-md shadow-md">
                    <div class="px-12 py-10">
                        <Card class="w-[350px]">
                            <CardHeader>
                              <CardTitle>Full Pack</CardTitle>
                              <CardDescription>Deploy your new project in one-click.</CardDescription>
                            </CardHeader>
                            <CardContent>
                            <H1>$79</H1>
                                <div class="flex items-center justify-center mt-5">
                                    <svg class="flex-shrink-0 w-5 h-5 text-emerald-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                                    </svg>
                                    <small class="text-sm sm-1 font-medium leading-none text-emerald-500"> 14 Days Moneyback Guarantee </small>
                            </CardContent>
                            <CardFooter className="flex justify-between mt-5">
                                <Button variant="outline">
                                    <a class="hover:text-emerald-500" href="/pricing"> Get full access</a>
                                    <svg class="w-5 h-5 ml-2 text-emerald-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                </Button>
                            </CardFooter>
                        </Card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
