---
// import Astro - Components & Globals
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogCard from '@/components/blog/BlogCard.astro'
import BlogHeader from '@/components/blog/BlogHeader.astro'
import { type CollectionEntry } from 'astro:content'

// Import Utils
import { getPosts } from '@/lib/fetchers'

// Translation Imports
import { getLangFromUrl } from '@/i18n/utils'
const lang = getLangFromUrl(Astro.url)

// Get all Posts
const posts: CollectionEntry<'blog'> = await getPosts(lang)

// create static page instead of SSR
export const prerender = true
---

<BaseLayout
  title="Блог AquaPumpers - Профессиональные услуги для водонасосных станций и водных скважин | Профессиональный монтаж, обслуживание и ремонт в Киеве"
  description="В блоге AquaPumpers вы найдете квалифицированные услуги по установке, техническому обслуживанию и ремонту водонасосных станций, водных скважин и колодцев в Киеве и Киевской области. Доверьтесь нашим профессиональным услугам в решении всех ваших потребностей, связанных с водой."
>
  <section class="mx-auto max-w-[1680px] px-5">
    <BlogHeader
      title="AquaPumpers Блог"
      subtitle="Эффективные сервисы и профессиональные решения!"
    />
    <!-- Posts card Lists -->
    <div
      class="lg:gap mb-5 grid grid-cols-1 gap-x-6 gap-y-9 px-5 md:grid-cols-2 md:gap-y-11 md:px-0 lg:grid-cols-3 lg:gap-x-8"
    >
      {posts.map((post) => <BlogCard post={post} />)}
    </div>
  </section>
</BaseLayout>
